# Go
go/core/vendor/
go/core/drn.aar
go/core/drn.xcframework

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/pubspec.lock

# Android
flutter_app/android/app/libs/*.aar
flutter_app/android/.gradle/
flutter_app/android/local.properties
flutter_app/android/key.properties
*.keystore

# iOS
flutter_app/ios/Runner/drn.xcframework/
flutter_app/ios/Pods/
flutter_app/ios/.symlinks/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store